
@model FoodOrderMgmtApplication.Models.foodDto
@{
    ViewBag.Title = "Details";
}

<a href="/Food/List">Go back to list</a>
<h2>@Model.FoodName</h2>

<div>Name:@Model.FoodName</div>
<div>Price:@Model.FoodPrice</div>
<div>Quantity: @Model.FoodQty</div>



